html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    flex-basis: 100%;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

article,
aside {
    flex-basis: 100%;
}

/* media queries */

@media screen and (min-width: 800px) {
    /*Desktop styles go here */
    .column {
        flex: 1;
    }
    aside {
        flex: 2.5;
    }
    article {
        flex: 7.5;
    }
    ._25 {
        flex: 2.5;
    }
    ._30 {
        flex: 3.0;
    }
    ._40 {
        flex: 4.0;
    }
    ._45 {
        flex: 4.0
    }
    ._60 {
        flex: 6.0
    }
    ._70 {
        flex: 7.0;
    }
    ._55 {
        flex: 5.5;
    }
    ._20 {
        flex: 2;
    }
}

.header {
    border: 2px solid red;
}

/* custom css */
#main-img {
    width: 50px;
    height: 50px;
}

h1 {
    margin-left: 10px;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav a {
    border: 2px solid black;
    border-radius: 5px;
    padding: 11px;
    text-decoration: none;
    color: white;
    background-color: red;
    margin-right: 1px;
}

.logo {
    display: flex;
    align-items: center;
}

#sidebar {
    border: 2px solid orange;
    width: 30%;
}

.content {
    border: 2px solid saddlebrown;
}

.three-images img {
    width: 260px;
    height: 260px;
    margin-left: 10px;
    margin-top: 10px;
    border: 2px solid yellow;
}

#footer {
    border: 2px solid green;
}